html, body {
  height: 100%;
}

body {
  line-height: 1.50;
  font-family: 'Cabin', sans-serif;
}

.footer-anchor-wrapper {
  margin-top: 3%;
}

.toggle-expand {
  font-size:14px;font-weight: normal;
}

.footer-anchor {
  color: black;
  text-decoration: none;
  padding: 2%;
}

.footer-anchor:hover {
  color: black;
}

.navbar-nav {
  display: none;
}

.project-topic {
  font-weight: bold;
}

.section-title {
  font-size: 32px;
}

.project-title {
  font-size: 23px;
  font-weight: bold;
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 3%;
  display: block;
  margin: auto;
}

.quote {
  margin: 20px auto;
  float: left
}

.quote p {
  font-size: 16px;
  color: #4f5951;
  font-style: italic;
}

.quote cite {
  float: right;
  font-size: 16px;
  font-weight: bold;
}

.section-content {
  clear: both;
  font-size: 20px;
  text-align: justify;
}

.subtitle {
  text-align: center;
  color: white;
  font-size: 18px;
}

.side-text {
  float: right;
  display: block;
  margin: 20px;
}

figure {
  clear: left;
}

figure img {
  width: 200px;
  height: 200px;
}

section {
  padding: 3% 0;
}

.opaque {
  border-radius: 10px;
  background-color: rgba(0,0,0,0.7);
}

.navbar {
  border-bottom: 1px solid #ccc;
  padding: 0 !important;
}

.navbar a {
  font-size: 18px;
}

.intro {
  padding: 5%;
  min-height: 50vw;
  opacity: 1;
}

.bg {
  background: url(../img/code-bg.jpg);
}

.bg, .bg h1, .bg h2 {
  color: #f2f2f2;
}


.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-skills {
  font-size: 20px;
}

.got-no-time {
  font-weight: bold;
}

.drive-link, .drive-link:hover {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #33cfc6;
}

.section-container {
  width: 80%;
  margin: auto;
  font-size: 21px;
}

.alura-link, .alura-link:hover, .alura-link:visited {
  color: #33cfc6;
  text-decoration: none;
}

footer {
  border-top: 2px solid #f2f2f2;
  padding: 6%;
}

a .icon, a .icon:hover, a .icon:visited {
  color: black;
  text-decoration: none;
}

.icon {
  font-size: 30px;
  margin: 2%;
}

.head-icon {
  font-size: 30px;
  margin: 2%;
  color: #f2f2f2;
}

a .head-icon, a .head-icon:hover, a .head-icon:visited {
  text-decoration: none;
}

.flag {
  max-width: 128px;
  max-height: 128px;
}

.lang-title {
  font-weight: bold;
}

.caption p {
  font-size: 18px;
}

.skill-type {
  font-weight: bold;
}

.duo-link, .duo-link:hover, .duo-link:visited {
  color: #94c500;
  text-decoration: none;
}
