
.code-indent-1 {
  margin-left: 2%;
}

.code-indent-2 {
  margin-left: 4%;
}

.code-indent-3 {
  margin-left: 6%;
}

.code-function { color: #6dc066; }

.code-block { font-size: 14px; font-family: Consolas; padding: 1%; }

.code-function-name { color:#3399ff; }

.code-string { color:#e5d158; }
